@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white-clr: #fff;
    --black-clr: #000;
    --light-black: #333;
    --primary-clr: #f60254;
    --secondary-clr: #eeeeee;
    --tag-clr: #189f0c;
}

/* Basic Styling */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--primary-clr);
}

img {
    width: 100%;
    height: 100%;
    display: block;
    transition: .3s ease-in-out;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 80%;
    margin: auto;
}

.section {
    padding-top: 4rem;
}

.wrap {
    flex-wrap: wrap;
}

.secondary-bg {
    background: var(--secondary-clr);
    padding-block: 2.2rem;
}

/* Navbar Styling  */
header {
    background: var(--white-clr);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 5px 14.25px .75px rgba(36, 11, 12, 0.08);
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--black-clr);
}

.link {
    font-size: .95rem;
    color: var(--light-black);
    font-weight: 500;
    text-transform: uppercase;
}

.icon {
    font-size: .9rem;
    color: var(--light-black);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.icon:hover,
.icon-active {
    background: var(--secondary-clr);
}

span,
.link-active,
.icon-active {
    color: var(--primary-clr);
}

.navbar {
    height: 12vh;
    justify-content: space-between;

}

.navlist {
    gap: 2.5rem;
}

.nav-icons {
    gap: .8rem;
}

.hamburger {
    display: none;
    font-size: 1.7rem;
    color: var(--black-clr);
    text-decoration: none;
}

.hamburger:hover {
    color: var(--primary-clr);
}

/* Section Styling  */
.hero {
    height: 115vh;
    background-image: url(images/hero-image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 4.5rem;
}

.hero-content {
    height: 100%;
    justify-content: flex-end;
}

h3 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.7rem;
    color: var(--light-black);
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--light-black);
}

h4 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}

button {
    font-weight: 600;
    font-size: .9rem;
    padding: .8rem 2.2rem;
    text-transform: uppercase;
    color: var(--white-clr);
    border: none;
    background: var(--primary-clr);
    transition: all .3s ease-in-out;
}

button:hover {
    background: var(--light-black);
    transform: translateY(-3px);
}

.category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.7rem;
}

.category:nth-child(1),
.category:nth-child(4) {
    grid-row: 1 / 4;
}

.category:nth-child(2) {
    grid-row: 1 / 2;
}

.category {
    position: relative;
    overflow: hidden;
}

.category button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 500;
    background: var(--primary-clr);
    color: var(--white-clr);
    z-index: 3;
}

.category button:hover {
    background: var(--light-black);
    color: var(--secondary-clr);
}

.category:hover img {
    transform: scale(1.2);
}

.category::before {
    content: "";
    position: absolute;
    background-color: var(--primary-clr);
    width: 0;
    height: 100%;
    inset: 0;
    opacity: .2;
    z-index: 2;
    transition: all 3s ease-in-out;
}

.category:hover::before {
    width: 100%;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--light-black);
}

.line {
    background: var(--primary-clr);
    width: 60px;
    height: 4px;

    margin: .5rem auto 3rem;

    border-radius: 10px;
}

.card-container {
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
    gap: 2rem;
}

.card {
    border-right: 1px solid #dcacc0;
    padding-block: 3.1rem;
    flex: 1;
    margin-bottom: 2rem;
    transition: all .3s ease-in-out;
    position: relative;
    /* overflow: hidden; */
    flex-basis: 200px;
}

.card:hover {
    box-shadow: 0 5px 19px rgba(36, 11, 12, .15);
    z-index: 3;
}

.card-content {
    padding: 0.3rem;
}

.title {
    font-size: 1rem;
    color: var(--light-black);
    line-height: 1.7rem;
    font-weight: 500;
}

.card {
    overflow: hidden;
}

.price {
    margin-top: 1rem;
}

del {
    color: #c5c5c5;
}

.amount {
    font-size: 1.1rem;
    font-weight: 600;
}

.add-to-cart {
    margin-top: 1rem;

    transform: translateY(20px);

    opacity: 0;
    visibility: hidden;

    transition: .3s ease-in-out;
}

.card:hover .add-to-cart {
    transform: translateY(0);

    opacity: 1;
    visibility: visible;
}

.sale::before,
.new::before {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: .2rem 1.3rem;
    color: var(--white-clr);
    font-weight: 300;
}

.new::before {
    content: 'New';
    background: var(--tag-clr);
}

.sale::before {
    content: 'Sale';
    background: var(--primary-clr);
}

.sale-container {
    padding-block: 5rem;
    text-align: center;
    background-image: url("images/sale-image.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.sale-container h3 {
    font-weight: 200;
    font-size: 1.56rem;
    line-height: 1.6rem;
    text-transform: uppercase;
}

.sale-container h1 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4.7rem;

}

.sale-container .line {
    width: 20%;
    background: #c5c5c5;
}

.sale-container h4 {
    font-size: 1.2rem;
    color: #db0c5b;
    line-height: 3.5rem;
}

.box {
    flex: 1;
    text-align: center;
    margin-block: 1rem;
    flex-basis: 200px;
}

.box .fa-solid {
    font-size: 1.6rem;
    color: var(--primary-clr);
}

h5 a {
    font-size: 1.1rem;
    color: var(--light-black);
    font-weight: 500;
    line-height: 2rem;
}

.des {
    color: #6e6e6e;
    font-size: .9rem;
    font-weight: 400;
}

.blog-container {
    margin-top: 3rem;
    gap: 2rem;
    flex-basis: 200px;
}

/* YE MISSING HAI */

.blog-box {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.blog-box::before {
    content: '';
    position: absolute;
    background: rgb(0, 0, 0, .8);
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: all .3s ease-in-out;
}

.blog-box:hover::before {
    width: 100%;
}

.blog-content {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 4;
    padding-inline: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;

}

.heading {
    font-size: 1.7rem;
    line-height: 4rem;
    font-weight: 500;
}

.blog-content * {
    color: var(--secondary-clr);
}

.blog-link {
    font-size: .9rem;
    font-weight: 500;
    line-height: 5rem;
    color: var(--primary-clr);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-transform: uppercase;
}

.blog-box:hover .blog-content {
    left: 50%;
    opacity: 1;
    visibility: visible;

}

.newsletter-form {
    gap: 3rem;
    justify-content: space-between;
}

.newsletter-form h3 {
    font-size: 1.4rem;
    color: var(--white-clr);
}

.input-container {
    flex: 1;
    display: flex;
    align-items: stretch;
}

#email {
    border: none;
    flex: 1;
    font-size: 1rem;
    padding-left: 1.1rem;
    height: 3.5rem;
}

#email:focus {
    outline: none;
}

.input-container button {
    border: none;
    padding-inline: 2rem;
}

.social-icons {
    gap: 1.2rem;
    justify-content: flex-end;
}

.media {
    width: 2.7rem;
    height: 2.7rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: rgba(255, 255, 255, .2);

    font-size: 1rem;
    color: var(--white-clr);


    transition: .3s ease-in-out;
}

.media:hover {
    background: var(--black-clr);
    transform: translateY(-5px);
}

.media i {
    color: var(--white-clr);
    font-size: 1rem;
}

.newsletter-form h3 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--light-black);
    letter-spacing: 1px;
    position: relative;
}

.newsletter-form h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;

    width: 60%;
    height: 4px;

    background: var(--primary-clr);
    border-radius: 10px;
}

.media {
    width: 2.7rem;
    height: 2.7rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: rgba(255, 255, 255, .2);

    transition: .3s ease-in-out;
}

/* ICON COLOR */

.media i {
    color: var(--primary-clr);
    font-size: 1rem;
    transition: .3s ease-in-out;
}

/* HOVER */

.media:hover {
    background: var(--black-clr);
    transform: translateY(-5px);
}

.media:hover i {
    color: var(--white-clr);
}

/* FOOTER HERE */

footer {
    background: #fafafa;
    margin-top: 4rem;
}

.footer-container {
    padding-bottom: 3rem;
    gap: 2rem;
}

.footer-list {
    flex: 1;
    padding-block: 1rem;
    flex-basis: 200px;
}

.footer-list li {
    margin-bottom: .6rem;
}

.footer-link {
    font-size: .95rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--light-black);
    line-height: 2.2rem;
    transition: .3s ease-in-out;
}

.footer-link:hover {
    color: var(--primary-clr);
    padding-left: .3rem;
}

.footer-logo {
    margin-bottom: 1rem;
}

.detail {
    font-size: .95rem;
    line-height: 1.9rem;
    color: #1e1818d8;
}

.footer-bottom {
    padding-block: 1rem;
    text-align: center;
    color: #272424;
    border-top: 1px solid #d9d9d9;
    font-size: .9rem;
    background: #f1f1f1;
}





@media screen and (max-width: 650px) {

    .navlist {
        display: flex;
        position: absolute;
        align-items: flex-start;

        top: 12vh;
        left: 0;

        width: 100%;

        background: var(--black-clr);

        flex-direction: column;

        padding: 2rem;

        gap: 1.5rem;

        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.249);

        z-index: 99;

        transform: translateY(-150%);
        transition: transform .3s ease-in-out;
    }

    .navlist.active {
        transform: translateY(0);
    }

    .navlist .link {
        color: var(--secondary-clr);
        font-weight: 400;
    }

    .nav-icons a,
    .link:hover,
    .navlist .link-active {
        color: var(--primary-clr);
    }

    .hamburger {
        display: block;
    }

    .container {
        max-width: 95%;
    }

    .hero {
        height: 75vh;
        background-position: center;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    h1 {
        font-size: 2.2rem;
        line-height: 4rem;
    }

    h4 {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .category-container {
        grid-template-columns: 1fr;
    }

    .category:nth-child(1),
    .category:nth-child(2),
    .category:nth-child(4) {
        grid-row: auto;
    }

    .sale-container {
        grid-row: auto;
    }

    .blog-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .blog-box {
        width: 100%;
        flex-basis: 100%;
    }

    .card {
        flex-basis: 100%;
    }

    .newsletter-form {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .input-container {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        gap: 1rem;
    }

    .newsletter-form {
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
    }

    .newsletter-form h3 {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    .input-container {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    #email {
        width: 100%;
        height: 3.3rem;
    }

    .input-container button {
        width: 100%;
    }
}
